* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.head{
    
    height: 100vh;
    background: url(images/red-heart.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.words {
    height: 80vh;
    flex-direction: column;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /* background-color: dodgerblue; */
    font-family: 'poppins', sans-serif;

}

.logo {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    cursor: pointer;
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    margin: 20px;
    font-size: 15px;
    letter-spacing: 3px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}



@media screen and (max-width:560px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0%;
        height: 92vh;
        top: 8vh;
        /* align-items: center; */
        width: 35%;
        /* background-color: rgba(30, 143, 255, 0.726); */
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }

    nav ul li {
        margin: 25px;
        opacity: 0;
    }

    .burger {
        display: block;

    }

    .nav-active {
        transform: translateX(0%);
    }
    .words h1{
        display: none;
    }
    .words h2{
        display: none;
    }
    .words{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:270px) {
    .nav-links {
        width: 100%;
    }
}

@keyframes navlinksfade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .l1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .l2 {
    opacity: 0;
    transition: 0.2s;
}

.toggle .l3 {
    transform: rotate(45deg) translate(-5px, -6px);
}